echo "__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

.venv/
env/
venv/
ENV/

db.sqlite3
*.mo
*.pot
*.pyc
media/
staticfiles/

.vscode/
.idea/

.DS_Store
Thumbs.db

.env

.coverage
htmlcov/
.pytest_cache/" > .gitignore
.env
