{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Breaking News</h2>
  <ul class="list-group mt-3">
    {% for item in news_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'news:public_breakingnews_detail' item.slug %}">
          {{ item.headline }}
        </a>
        {% if item.image %}
          <img src="{{ item.image.url }}" alt="" width="50" class="ms-2 rounded">
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">No breaking news at the moment.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
